body{
	background-color: #ffffff;
	color: #30414d;
	font: normal "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.wrapper{
	width: 76%; /* 1200px */
	margin: 0 auto;
}

header{
	width: 100%; /* 1200px/1200px */
	margin-bottom: 3.125em; /* 50px*1/16 */
	padding-top: 3.125em; /* 50px*1/16 */
}

.logo2{
    display:inline-block;
    margin-left: 10.8333333333%; /* 130px/1200px */ 
    width: 28.4166666667%; /* 341px/1200px */
}

.socialmenu-1{
	display: inline-block;
    margin-left:37.8333333333%; /* 454px/1200px */
    padding:0;
}

.socialmenu-1 ul{
    margin: 0;
	padding: 0;
}

.socialmenu-1 li{
	float: left;
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	float: left;
}

.facebook{
	list-style-type: none;
	margin-right: 22px;
}

.facebook a{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: url(../images/face.png) no-repeat;
	background-position: center;
	background-color: #ccd0d2;
}

.facebook a:hover{
	background-color: #adaeaf;
}

.twitter{
	list-style-type: none;
	margin-right: 22px;
}

.twitter a{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: url(../images/twit.png) no-repeat;
	background-position: center;
	background-color: #ccd0d2;
}

.twitter a:hover{
	background-color: #adaeaf;
}

.google{
	list-style-type: none;
}

.google a{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: url(../images/goog.png) no-repeat;
	background-position: center;
	background-color: #ccd0d2;
}

.google a:hover{
	background-color: #adaeaf;
}

.content{
    width: 100%; /* 1200px/1200px */
}

.divider{
	width: 78.3333333333%; /* 940px/1200px */
	height: 2px;
	background-color: #ccd0d2;
	margin: 0 auto;
}

.first-picture{
	width: 83.3333333333%; /* 1000px/1200px */
	margin: 0 auto 5.625em auto; /* 90px*1/16 */
}

.picture-1{
	width: 94%; /* 940px/1000px */
	margin-left: 2.9%; /* 29px/1000px */
	margin-top: 3.75em; /* 60px*1/16 */
}

.first-picture h1{
	font-weight: normal;
	font-size: 1.875em; /* 30px/16px */
	line-height: 1.5;
	text-align: center;
	color: #2b414d;
    padding-top: 2em; /* 60px*1/30px */
}

.float_divider{
	width: 78.3333333333%; /* 940px/1200px */
	height: 2px;
	background-color: #ccd0d2;
	margin: 0 auto;
    display: none;
}

.three-picture{
	width: 100%; /* 1200px/1200 */
	margin-bottom: 5em; /* 80px*1/16 */
}

.three_columns{
    list-style-type: none;
    text-align: center;
    display: inline-block;
    width: 75%; /* 900px/1200px */
    margin-left:150px;
    padding: 0;
}

.three-picture li{
    float: left;
    display: block;
}

.three_columns h2{
    font-size: 1.125em; /* 18px/16px */
    text-transform: uppercase;
}

.three_columns p{
    font-size: 0.875em; /* 14px/16px */
    line-height: 1.5;
    color: #777c7f;
}

.light{
    margin-right:58px;
}

.responsive{
    margin-right:58px;
}

.easy{
    
}

.lamp{
    width: 46px;
    margin-bottom:15px;
}

.rocket{
    width: 65px;
    margin-bottom:15px;
}

.flag{
    width: 56px;
    margin-bottom:15px;
}

.mini-divider{
	width: 22px;
	height: 2px;
	background: #ccd0d2;
	margin: 0 auto 0.1875em auto; /* 3px*1/16 */
}

.text-content__i{
	width: 78%; /* 936px/1200px */
	margin: 5.5em auto 5.5em auto; /* 88px*1/16 и 88px*1/16 */
}

.text-content__i:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.simple-text{
	width: 60%; /* Увеличишь на 10% и текст съедет под картинку */
	float:left;
	margin-left: 5.8760683761%; /* 55px/936px */
	margin-top: -1.25em; /* 20px*1/16 */
}

.picture-content{
	width: 34.0811965812%; /* 319px/936px */
    float: left;
}

.simple-text h3{
	font-size: 2.375em; /* 38px/16px */
}

.simple-text p{
	text-align: left;
	color: #777c7f;
	line-height: 1.5;
	font-size: 1.0625em; /* 17px/16px */
}

.button-content__i{
	width: 78%; /* 936px/1200px */
	margin: 5.5em auto 5.5em auto; /* 88px*1/16 и 88px*1/16 */
}

.button-content__i:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.right-text h3{
	font-size: 2.375em; /* 38px/16px */
}

.right-text{
	width: 100%;
	margin-top: -1.25em; /* 20px*1/16 */
}

.button-picture{
	width: 34.0811965812%; /* 319px/936px */
    float: right;
}

.first-button{
	float: left;
}

.first-button span a{
	color: #e2574c;
	text-decoration: none;
	vertical-align: middle;
}

.first-button a{
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	margin:0 auto;
}

.first-button p span{
	color: #777c7f;
	line-height: 1.5;
	font-size: 1.0625; /* 17px/16px */
}

.button-more{
	width: 80%;
	height: 47px;
	margin-top: 2.2222222222em; /* 40px*1/18 */
	line-height: 47px;
	font-size: 1.125em; /* 18px/16px */
}

.button-more .button:hover{
	background-color: #e53b2e;
}

.button{
	width: 44%; /* 179px Подогнал на глаз */
	height: 47px;
	float: left;
	text-align: center;
	background-color: #e2574c;
	border-radius: 5px;
}

.twitter-content{
	width: 100%; /* 1200px/1200px */
	background-color: #f8f8f8;
	text-align: center;
	padding-top: 5.625em; /* 90px*1/16 */
    padding-bottom: 9.375em; /* 150px*1/16 */
}

.blue_bird{
    width:3.1666666667%; /* 38px/1200px */
}

.twitter-content p{
	margin-top: 2.625em; /* 63px*1/24 */
	font-size: 1.5em; /* 24px/16px */
	line-height: 1.5;
}

.twitter-content a{
	color: #e2574c;
	text-decoration: none;
}

.twitter-content span{
	font-size: 0.6666666667em; /* 16px/24px */ /* Сначала задал размер в 24px для twitter-content p */
}

.twitter-content .under{
	text-decoration: underline;
	color: #30414d;
}

.email-content{
	width: 100%; /* 1200px/1200px */
	text-align: center;
	padding-top: 6.5em; /* 104px*1/16 */
}

.email-content h3{
	font-size: 2.375em; /* 38px/16px */
}

.email-content p{
	color: #777c7f;
	line-height: 1.5;
	font-size: 1.0625em; /* 17px/16px */
}

.form-subscribe{
	width: 50%; /* 600px/1200px */
	margin: 4.0625em auto 2.3125em auto; /* 65px*1/16 */ /* 37px*1/16 */
}

.form-subscribe:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.form-subscribe__email{
	width: 65.8333333333%; /* 395px/600px */
	height: 43px;
	float: left;
	background-color: #f8f8f8;
	border: 2px solid #ececec;
	border-radius: 5px;
	padding-left: 2.8333333333%; /* 17px/600px */
	color: #ccd0d2;
	font: normal 1.125em "Helvetica Neue", Helvetica, sans-serif; /* 18px/16px */
}

.form-subscribe__button{
	width: 26.6666666667%; /* 160px/600px */
	height: 47px;
	float: left;
	color: #ffffff;
	font-size: 1.125em; /* 18px/16px */
	background-color: #e2574c;
	margin-left: 2.8333333333%; /* 17px/600px */
	border: none;
	border-radius: 5px;
}

.form-subscribe__button:hover{
	background-color: #e53b2e;
}

.last-divider{
	width: 4.1666666667%; /* 50px/1200px */
	height: 2px;
	margin: 0 auto;
	background-color: #ccd0d2;
	margin-top: 4.0625em; /* 65px*1/16 */
}

.socialmenu-2{
	display: inline-block;
	margin: 3.4375em auto 0.3125em auto; /* 55px и 5px */
}

footer{
	width: 100%; /* 1200px/1200px */
}

.foot_picture{
	width: 100%; /* 1200px/1200px */
    display: block;
}


@media screen and (max-width: 480px) { /* Начало медиазапроса */

/* Начало блока с классом .wrapper */
  .wrapper{ /* Обертка сайта */
	width: 100%; /* 480px */
}

/* Начало блока <header> */
  .logo2{
    width: 71.0416666667%; /* 341px/480px */
    margin-left: 14.5833333333%; /* 70px/480px */
}
  .socialmenu-1{ /* Значки социального меню вверху */
	display: none;
}
/* Конец блока <header> */

/* Начало блока с классом .content */
  .divider{ /* Разделитель под социальным меню */
	width: 85.4166666667%; /* 410px/480px */
}

/* Начало блока с классом .first-picture */
  .first-picture h1{ /* Заголовок Hello! You...*/
    display:block;
    font-size: 1.625em; /* 26px/16px */
    width:82%;
    margin:0 auto;
}

  .picture-1{ /* Большая картинка */
    display: none;
}

  .float_divider{
    width: 85.4166666667%; /* 410px/480px */
    display: block; /* Не уверен по поводу значения ??? */
    margin-top:-1.875em; /* 30*1/16 */
}
/* Конец блока с классом .first-picture */

/* Начало блока с классом .three-picture */
  .three-picture{
    width: 100%; /* 480px/480px */
}

  .three_columns{
    margin:0 auto;
}

  .light{
    display: block;
    padding: 0;
    margin-top: 5em; /* 80px*1/16 */
}

  .responsive{
    margin-top: 5em; /* 80px*1/16 */
}

  .easy{
    margin-top: 5em; /* 80px*1/16 */
}

  .lamp{
    width: 46px;
}

/* Начало блока с классом .three-picture */

/* Начало блока с классом .text-content__i */
  .text-content__i{ /* Большой блок с текстом и картинкой */
    width: 100%; /* ??? */ /* Не знаю что делать с блоком */
}

  .picture-content{ /* Картинка с Горой и водой */
    width: 66.4583333333%; /* 319px/480px */
    display: block;
    float: none;
    margin: 0 auto;
    
}

  .simple-text{
    float: none;
    width: 80%;
    margin: 3em auto 0 auto;
}

  .simple-text h3{ /* Заголовок So simple... */
    font-size: 1.875em; /* 30px/16px */
    text-align: center;
}

  .simple-text p{ /* Текст My Journey HTML template...*/
    text-align: center;
	font-size: 0.875em; /* 14px/16px */
}
/* Конец блока с классом .text-content__i */

/* Начало блока с классом .button-content__i */
  .button-content__i{
    width: 100%; /* ??? */ /* Не знаю что делать с шириной */
}  

  .right-text{ /* Текст My Journey is all...*/
    width: 80%;
    margin: 0 auto;
    font-size: 0.875em; /* 14px/16px*/
    text-align: center;
    position: relative;
    top: 300px;
}

  .right-text h3{ /* Заголовок Right here...*/
    font-size: 2.1428571429em; /* 30px/14px*/ /* Ранее задал шрифт 14px для блока right-text */
}

  .button-more{ /* Блок с красной кнопкой More information и текстом or get...*/
    margin: 0 auto;
    position: relative;
    top: 320px;
}

  .button{ /* Красная кнопка More information */
    width: 179px;
}

  .button-picture{ /* Картинка ноги в джинсах и ботинках */
    width: 319px;
    display: block;
    margin: 0 auto;
    float: none;
    position: relative;
    top: -260px;
}
/* Конец блока с классом .button-content__i */
/* Конец блока с классом .content */

/* Начало блока с классом .twitter-content */
  .twitter-content{ /* Блок с синей птицей twitter */
    padding-top: 5em;
    padding-bottom: 5em;
}

.blue_bird{
    width:7.9166666667%; /* 38px/480px */
}

  .twitter-content p{ /* Текст First of many freebies from...*/
    margin-top: 3.625em; /* 58px */
    font-size: 1.0625em; /* 17px/16px */
}

  .twitter-content span{ /* Текст @PixelBuddha long ago */
    font-size: 0.9411764706em; /* 16px/17px */ /* Сначала задал размер в 17px для twitter-content p */
}
/* Конец блока с классом .twitter-content */

/* Начало блока с классом .email-content */
  .email-content h3{ /* Заголовок Subscribe to our...*/
    font-size: 1.875em; /* 30px/16px */
}

  .form-subscribe{
	width: 385px;
}

  .form-subscribe__email{
	width: 225px;
	padding-left: 4.6448087432%; /* 17px/366px */
}

  .form-subscribe__button{
	width: 120px;
	font-size: 1.125em; /* 18px/16px */
	margin-left: 4.6448087432%; /* 17px/366px */
}

  .email-content p{ /* Текст Subscribe now if you...*/
    font-size: 0.875em; /* 14px/16px */
}

  .last-divider{ /* Разделитель над нижним социальным меню */
    margin-top: 3.625em; /* 58px */
    width: 10.4166666667%; /* 50px/480px */
}

  .socialmenu-2{ /* Значки социального меню внизу */
    margin: 3.5em auto 3.3125em auto; /* 56px и 53px */
}
/* Конец блока с классом .email-content */
/* Конец блока с классом .wrapper */
} /* Конец медиазапроса */