body {
	background-color: #ffffff;
	color: #30414d;
	font: normal "Helvetica Neue", Helvetica, sans-serif;
	font-size: 16px;
    -webkit-font-smoothing: antialiased;
}

.wrapper{
	width: 76%; /* 1200px */
	margin: 0 auto;
}

header{
	width: 100%; /* 1200px/1200px */
	margin-bottom: 4.1666666667%; /* 50px/1200px */
	padding-top: 4.1666666667%; /* 50px/1200px */
}

header .head-table{
	margin-left: 10.8333333333%; /* 130px/1200px */
}

.head-table{
    width: 78.3333333333%; /* 940px/1200px */
}

.socialmenu-1{
	display: inline-block;
	margin-left: 48.8%; /* Подогнал на глаз */
}

nav ul{
	margin: 0;
	padding: 0;
}

nav li{
	float: left;
}

.facebook{
	list-style-type: none;
	margin-right: 22px;
}

.facebook a{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: url(../images/face.png) no-repeat;
	background-position: center;
	background-color: #ccd0d2;
}

.facebook a:hover{
	background-color: #adaeaf;
}

.twitter{
	list-style-type: none;
	margin-right: 22px;
}

.twitter a{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: url(../images/twit.png) no-repeat;
	background-position: center;
	background-color: #ccd0d2;
}

.twitter a:hover{
	background-color: #adaeaf;
}

.google{
	list-style-type: none;
}

.google a{
	display: block;
	width: 32px;
	height: 32px;
	border-radius: 16px;
	background: url(../images/goog.png) no-repeat;
	background-position: center;
	background-color: #ccd0d2;
}

.google a:hover{
	background-color: #adaeaf;
}

.content{
    width: 100%; /* 1200px/1200px */
}

.divider{
	width: 78.3333333333%; /* 940px/1200px */
	height: 2px;
	background-color: #ccd0d2;
	margin: 0 auto;
}

.first-picture{
	width: 83.3333333333%; /* 1000px/1200px */
	margin: 0 auto 7.5% auto; /* 90px/1200px */
}

.picture-1{
	width: 94%; /* 940px/1000px */
	margin-left: 2.9%; /* 29px/1000px */
	margin-top: 4%; /* 40px/1000px */
}

.first-picture h1{
	font-weight: normal;
	font-size: 1.875em; /* 30px/16px */
	line-height: 1.5;
	text-align: center;
	color: #2b414d;
    padding-top: 4%; /* 40px/1000px */
}

.three-picture{
	width: 100%; /* 1200px/1200 */
	margin-bottom: 5%; /* 60px/1200px */
}

.tree-columns_table{
	width: 83%; /* 996px/1200px */
	margin: 0 auto;
}

.three-picture table tr td{
	font-size: 0.875em; /* 14px/16px */
	line-height: 1.5;
	text-align: center;
}

.three-picture table tr td h2{
	text-transform: uppercase;
}

.three-picture p span{
	color: #777c7f;
	line-height: 1.5;
}

.mini-divider{
	width: 22px;
	height: 2px;
	background: #ccd0d2;
	margin: 0 auto 3px auto;
}

.text-content__i{
	width: 78%; /* 936px/1200px */
	margin: 7.3333333333% auto 7.3333333333% auto; /* 88px/1200px */ /* 88px/1200px */
}

.text-content__i:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.simple-text{
	width: 60%; /* Увеличишь на 10% и текст съедет под картинку */
	float:left;
	margin-left: 5.8760683761%; /* 55px/936px */
	margin-top: -2.1367521367%; /* 20px/936px */
}

.picture-content{
	width: 34.0811965812%; /* 319px/936px */
    float: left;
}

.simple-text h3{
	font-size: 2.375em; /* 38px/16px */
}

.simple-text p{
	text-align: left;
	color: #777c7f;
	line-height: 1.5;
	font-size: 1.0625em; /* 17px/16px */
}

.button-content__i{
	width: 78%; /* 936px/1200px */
	margin: 6.8333333333% auto 7.3333333333% auto; /* 82px/1200px */ /* 88px/1200px */
}

.button-content__i:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.right-text{
	width: 100%;
	margin-top: -2.1367521367%; /* 20px/936px */
}

.button-picture{
	width: 34.0811965812%; /* 319px/936px */
    float: right;
}

.first-button{
	float: left;
}

.first-button h3{
	font-size: 2.375em; /* 38px/16px */
}

.first-button span a{
	color: #e2574c;
	text-decoration: none;
	vertical-align: middle;
}

.first-button a{
	text-decoration: none;
	color: #ffffff;
	text-align: center;
	margin:0 auto;
}

.first-button p span{
	color: #777c7f;
	line-height: 1.5;
	font-size: 1.0625; /* 17px/16px */
}

.button-more{
	width: 80%;
	height: 47px;
	margin-top: 40px;
	line-height: 47px;
	font-size: 1.125em; /* 18px/16px */
}

.button-more .button:hover{
	background-color: #e53b2e;
}

.button{
	width: 44%; /* 179px Подогнал на глаз */
	height: 47px;
	float: left;
	text-align: center;
	background-color: #e2574c;
	border-radius: 5px;
}

.twitter-content{
	width: 100%; /* 1200px/1200px */
	background-color: #f8f8f8;
	text-align: center;
	padding-top: 7.5%; /* 90px/1200px */
    padding-bottom: 12.5%; /* 150px/1200px */
}

.twitter-content p{
	margin-top: 5.25%; /* 63px/1200px */
	font-size: 1.5em; /* 24px/16px */
	line-height: 1.5;
}

.twitter-content a{
	color: #e2574c;
	text-decoration: none;
}

.twitter-content span{
	font-size: 0.6666666667em; /* 16px/24px */ /* Сначала задал размер в 24px для twitter-content p */
}

.twitter-content .under{
	text-decoration: underline;
	color: #30414d;
}

.email-content{
	width: 100%; /* 1200px/1200px */
	text-align: center;
	padding-top: 1.6666666667%; /* 20px/1200px */
}

.email-content h3{
	font-size: 2.375em; /* 38px/16px */
}

.email-content p{
	color: #777c7f;
	line-height: 1.5;
	font-size: 1.0625em; /* 17px/16px */
}

.form-subscribe{
	width: 50%; /* 600px/1200px */
	margin: 5.4166666667% auto 3.0833333333% auto; /* 65px/1200px */ /* 37px/1200px */
}

.form-subscribe:after{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

.form-subscribe__email{
	width: 65.8333333333%; /* 395px/600px */
	height: 43px;
	float: left;
	background-color: #f8f8f8;
	border: 2px solid #ececec;
	border-radius: 5px;
	padding-left: 2.8333333333%; /* 17px/600px */
	color: #ccd0d2;
	font: normal 1.125em "Helvetica Neue", Helvetica, sans-serif; /* 18px/16px */
}

.form-subscribe__button{
	width: 26.6666666667%; /* 160px/600px */
	height: 47px;
	float: left;
	color: #ffffff;
	font-size: 1.125em; /* 18px/16px */
	background-color: #e2574c;
	margin-left: 2.8333333333%; /* 17px/600px */
	border: none;
	border-radius: 5px;
}

.form-subscribe__button:hover{
	background-color: #e53b2e;
}

.last-divider{
	width: 4.1666666667%; /* 50px/1200px */
	height: 2px;
	margin: 0 auto;
	background-color: #ccd0d2;
	margin-top: 5.4166666667%; /* 65px/1200px */
}

.socialmenu-2{
	display: inline-block;
	margin: 4.5833333333% auto 0.4166666667% auto; /* 55px/1200px */ /* 5px/1200px */
}

footer{
	width: 100%; /* 1200px/1200px */
}

.foot_picture{
	width: 100%; /* 1200px/1200px */
    display: block;
}